@model IEnumerable<SignalRDevTest.Dal.Entity.DevTest>

@Html.Hidden("NotifierEntity", (object)ViewBag.NotifierEntity)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.ProductID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
        </tr>
    }

</table>
